{
  "properties": {
    "resource": {
      "id": "${container_name}",
      "partitionKey": {
        "paths": [
          "/id"
        ],
        "kind": "Hash",
        "version": 2
      },
      "vectorEmbeddingPolicy": {
        "vectorEmbeddings": [
          {
            "path": "/embedding",
            "dataType": "float32",
            "distanceFunction": "cosine",
            "dimensions": ${dimensions_value}
          }
        ]
      },
      "indexingPolicy": {
        "indexingMode": "consistent",
        "includedPaths": [
          {
            "path": "/*"
          }
        ],
        "excludedPaths": [
          {
            "path": "/\"_etag\"/?"
          },
          {
            "path": "/embedding/*"
          }
        ],
        "vectorIndexes": [
          {
            "path": "/embedding",
            "type": "diskANN"
          }
        ]
      }
    }
  }
}
